<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkcqBj3kSNiQQMldNadeDIFC9OlMZ9XoU</string>
	<key>GCM_SENDER_ID</key>
	<string>580739260981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bsf</string>
	<key>PROJECT_ID</key>
	<string>bsfd-7a1f7</string>
	<key>STORAGE_BUCKET</key>
	<string>bsfd-7a1f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580739260981:ios:495ace10fdbe658632c77c</string>
</dict>
</plist>